<form class="row" (ngSubmit)="emitCharacter()">
    <input 
    [(ngModel)]="character.name" 
    name="name"
    type="text" class="form-control mb-2" 
    placeholder="Nombre del personaje">

    <input 
    [(ngModel)]="character.power" 
    name="power"
    type="number" 
    class="form-control mb-2" 
    placeholder="Poder" id="">
    
    <button
        type="submit"
        name=""
        id=""
        class="btn btn-primary mx-2"
        href="#"
        >Agregar
    </button>
    <!-- <pre>{{character | json}}</pre> -->
</form>